@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS custom styles for autofill */
input:-webkit-autofill {
    background-color: #1a202c !important; /* Dark mode background */
    color: #f7fafc !important; /* Dark mode text color */
    border-color: #4a5568 !important; /* Dark mode border color */
}

input:-webkit-autofill {
    background-color: #f7fafc !important; /* Light mode background */
    color: #1a202c !important; /* Light mode text color */
    border-color: #cbd5e0 !important; /* Light mode border color */
}
